[submodule "winda"]
	path = winda
	url = https://github.com/usiege/winda.git
[submodule "tingfeng"]
	path = tingfeng
	url = https://github.com/usiege/TingFeng
[submodule "publisher"]
	path = publisher
	url = https://github.com/usiege/publisher
